<script>
 function goBack() {
        history.back();
      } 
</script>
<% if session[:approve_url].present? %>
  <p>Sto reindirizzando a <%= session[:approve_url] %>...</p>
  <script>
    window.location.href = '<%= session[:approve_url] %>'; // Reindirizza l'utente all'URL di approvazione
  </script>
<%else%>
<h1>Dettagli utente</h1>

<p><strong>Username:</strong> <%= @user.username %></p>
<p><strong>Ruolo:</strong> <%= @user.role %></p>
<p><strong>Email:</strong> <%= @user.email %></p>

<p><%= link_to "Modifica o Elimina account", edit_user_registration_path %> </p>
<p> <%= link_to 'Logout', destroy_user_session_path, method: :delete %> </p>
<br>
 <a  href="#" onclick="goBack()">Back </a><br>
<% if params[:id].to_i == current_user.id%>
<p><%= link_to "Eventi Salvati", user_saves_path(current_user) %></p>
<%end%><br>
<% if Presale.where(user_id: params[:id]).any?%>
<%= link_to "Eventi Acquistati", events_path(user_id: current_user.id,commit: "presale") %><br>
<%end%>
  <% if can?(:create, Event)%>
<% if params[:id].to_i == current_user.id%>
<% if Event.where(organizer_id: params[:id], status: "draft").any?%>
<p><%= link_to "Bozze", events_path(status: "draft")%></p>
<%end%>
<%end%>
<%end%>
<%if params[:id].to_i == current_user.id%>
<% if can?(:create_order,User) && !can?(:manage,:all)%>  <!-- possono vedere il bottone per acquistare la versione premium solo gli utenti semplici che possiedono il profilo -->
<%= link_to "Acquista versione premium", premium_path(user_id: current_user.id)%>
<%end%>
<%end%>
<br>
<% if can?(:ban,User) %>
 <% if  params[:id].to_i!= current_user.id%>
 <% if User.find(params[:id]).role == "organizer"%>
   <%= link_to "Revoca privilegi",edit_user_path(commit: "Revoca",id: params[:id].to_i)%>
   <%end%>
    <% if Ban.where(user_id: params[:id]).exists?%>
    <%= link_to "Sbanna Utente",user_ban_path(user_id: params[:id],id: Ban.find_by(user_id: params[:id]).id),method: :delete %>
    <%else%>
    <%= link_to "Banna Utente",new_user_ban_path(user_id: params[:id]),method: :get %>
    <%end%>
  <%end%>
<%end%>
<br>
<% if can?(:manage,Event)%>
<% if Event.where(organizer_id: params[:id]).any?%>
<%= link_to "Eventi Organizzati", events_path(commit: "organized",organizer_id: params[:id] )%>
<%end%>
<%end%>
<nav class="navbar fixed-bottom navbar-light d-flex justify-content-center align-items-center">

  <!-- Icona "Home" -->
  <%= link_to events_path do %>
    <i class="fas fa-home fa-2x" ></i>
<% end %>

  <!-- Icona "Aggiungi" -->
  <% if can?(:create, Event)%>
  <%= link_to new_event_path do %>
  <a href="<%= new_event_path %>">
    <i class="fas fa-plus fa-2x"></i>
<% end %>
<%end%>
<!-- Icona "Salva" -->
<%= link_to user_saves_path(user_id: current_user.id) do %>
    <i class="fas fa-heart fa-2x"></i>
  </a>
  <%end%>
 <!-- Icona "Utente" -->
<%= link_to user_path(current_user) do %>
    <i class="fas fa-user fa-2x" ></i>
<% end %> 

</nav>
<%end%>
