<h1>Dettagli utente</h1>

<p><strong>Username:</strong> <%= @user.username %></p>
<p><strong>Ruolo:</strong> <%= @user.role %></p>
<p><strong>Email:</strong> <%= @user.email %></p>

<p><%= link_to "Modifica o Elimina account", edit_user_registration_path %> </p>
<p> <%= link_to 'Logout', destroy_user_session_path, method: :delete %> </p>

<p> <%= link_to "Back", root_path %> </p>
<% if params[:id].to_i == current_user.id%>
<p><%= link_to "Eventi Salvati", user_saves_path(current_user) %></p>
<%end%>
<%= link_to "Eventi Acquistati", user_presales_path(user_id: current_user.id) %><br><br><br>
<% if !Ban.where(user_id: current_user.id).exists?%>
<% if params[:id].to_i == current_user.id%>
<p><%= link_to "Bozze", events_path(status: "draft")%></p>
<%end%>
<% if can?(:create_order,User)%>
<button class="premium-button">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 24">
        <path d="m18 0 8 12 10-8-4 20H4L0 4l10 8 8-12z"></path>
    </svg>
    <%= link_to "Acquista versione premium", premium_path(user_id: current_user.id)%>
</button>

<%end%>
<%end%>
<br>
<% if can?(:ban,User) %>
 <% if  params[:id].to_i!= current_user.id%>
    <% if Ban.where(user_id: params[:id]).exists?%>
    <%= link_to "Sbanna Utente",user_ban_path(user_id: params[:id],id: Ban.find_by(user_id: params[:id]).id),method: :delete %>
    <%else%>
    <%= link_to "Banna Utente",new_user_ban_path(user_id: params[:id]),method: :get %>
    <%end%>

  <%end%>
<%end%>
<br>
<label for="events">Eventi Organizzati</label>
<div id="events">
 <% events=Event.where(organizer_id: current_user.id, status:"published")%>
 <% events.each do |event| %>
    <%= link_to event_path(event) do %>
      <div class="card">
        <h2><%= event.title %></h2>
        <p>Location: <%= event.location %></p>
        <p>Price: <%= event.price %></p>
        <p>Date: <%= event.date %></p>
        
        </div>
        <% end %>
        <% end %>

</div>
