<script>
 function goBack() {
        history.back();
      } 
</script>
<% if session[:approve_url].present? %>
  <p>Sto reindirizzando a <%= session[:approve_url] %>...</p>
  <script>
    window.location.href = '<%= session[:approve_url] %>'; // Reindirizza l'utente all'URL di approvazione
  </script>
<%else%>
<head>
  <style>
   body{
    height:100vh;

  }
  .show-myCard{
    
    background-color: rgb(0,0,0);
     width: calc(800px + 22 * ((100vw - 500px) / (500*7)));
    height: calc(400px + 110 * ((100vw - 500px) / (500*2)));
     transform: translateY(-50px);
     display: flex;
justify-content: center;
align-items: center;
     }
  .custom-label {
    color: rgb(156, 131, 185);
    font-family: "Exo 2", sans-serif;
    font-size:100;
  }
  </style>
</head>
<body>
<header class="show-header">
<%= image_tag("logo.png",class: "img-responsive")%>
</header> 
<div class="form-container show-container">
      <div class="show-myCard">
<label for="username" class="custom-label" >Username:</label>
<span id="username"><%= @user.username %></span>
<br>
<label for="ruolo" class="custom-label">Ruolo:</label>
<span id="ruolo"><%= @user.role %></span>
<br>
<label for="email" class="custom-label">Email:</label>
<span id="email"><%= @user.email %></span>
<br>

<% if  params[:id].to_i== current_user.id%>
<p><%= link_to "Gestisci account", edit_user_registration_path %> </p>
<p> <%= link_to 'Logout', destroy_user_session_path, method: :delete %> </p>
<%end%>
 </div>
<!--<% if params[:id].to_i == current_user.id%>
<p><%= link_to "Eventi Salvati", user_saves_path(current_user),data: { turbo: false }%></p>
<%end%><br>-->

<% if Presale.where(user_id: params[:id]).any?%>
<%= link_to "Eventi Acquistati", events_path(user_id: current_user.id,commit: "presale") %><br>
<%end%>
  <% if can?(:create, Event)%>
<% if params[:id].to_i == current_user.id || can?(:manage, :all)%>
<% if Event.where(organizer_id: params[:id], status: "draft").any?%>
<p><%= link_to "Bozze", events_path(status: "draft")%></p>
<%end%>
<%end%>
<%end%>
<%if params[:id].to_i == current_user.id%>
<% if can?(:create_order,User) && !can?(:manage,:all)%>  <!-- possono vedere il bottone per acquistare la versione premium solo gli utenti semplici che possiedono il profilo -->
<%= link_to "Acquista versione premium", premium_path(user_id: current_user.id)%>
<%end%>
<%end%>
<% if can?(:ban,User) %>
 <% if  params[:id].to_i!= current_user.id%>
 <% if User.find(params[:id]).role == "organizer"%>
   <%= link_to "Revoca privilegi",edit_user_path(commit: "Revoca",id: params[:id].to_i)%>
   <%end%>
    <% if Ban.where(user_id: params[:id]).exists?%>
    <%= link_to "Sbanna Utente",user_ban_path(user_id: params[:id],id: Ban.find_by(user_id: params[:id]).id),method: :delete %>
    <%else%>
    <%= link_to "Banna Utente",new_user_ban_path(user_id: params[:id]),method: :get %>
    <%end%>
  <%end%>
<%end%>
<br>
<% if can?(:manage,Event)%>
<% if Event.where(organizer_id: params[:id]).any?%>
<%= link_to "Eventi Organizzati", events_path(commit: "organized",organizer_id: params[:id] )%>
<%end%>
<%end%>
<br>
 <a  href="#" onclick="goBack()">Back </a><br>
 </div>
 </div>
 </body>
<nav class="navbar fixed-bottom navbar-light d-flex justify-content-center align-items-center">

  <!-- Icona "Home" -->
 
<nav class="navbar navbar-inferiore fixed-bottom navbar-light d-flex justify-content-center align-items-center">

  <!-- Icona "Home" -->
  <ul><li><%= link_to events_path do %>
    <i class="fas fa-home fa-2x" ></i>
<% end %></li>

  <!-- Icona "Aggiungi" -->
  <% if can?(:create, Event)%>
  <li>
  <%= link_to new_event_path do %>
    <i class="fas fa-plus fa-2x"></i>
<% end %></li>
<%end%>
<!-- Icona "Salva" -->
<li>
<%= link_to user_saves_path(user_id: current_user.id),data: { turbo: false } do %> <!-- ho messo data per disabilitare le proprietà di turbolink e ricaricare la pagina -->
    <i class="fas fa-heart fa-2x"></i>
  
  <%end%></li>
 <!-- Icona "Utente" -->
 <li>
<%= link_to user_path(current_user) do %>
    <i class="fas fa-user fa-2x" ></i>
<% end %> </li>
</ul>
</nav>
<%end%>
