<style>
.nButton-style {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9900;
  color: white;
  border: none;
  border-radius: calc(4px + 20 * (100vw - 500px) / 5500);
  border: none;
  cursor: pointer;
  font-family: "Playfair Display";
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s ease-in-out;
  width: auto;
  padding: 10px 20px; /* Aggiungi spazio tra il testo e lo sfondo */
}

.nButton-style:hover {
  background-color: #e68a00;
}

 body{
    height:80vh;
    background-image: url('<%= asset_path('event.jpg') %>');
    background-size: cover;
  background-position: center;
  background-attachment: fixed;

  }

  .actions {
  text-align: center; /* Allinea il pulsante al centro orizzontalmente */
  margin-top: 10px;   /* Aggiunge margine superiore al div */
}

.field {
  margin-bottom: 10px; /* Aggiunge margine inferiore al div */
}
  .centro{
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .show-myCard{
    background-color: rgb(0,0,0);
     width: calc(800px + 22 * ((100vw - 500px) / (500*7)));
    height: calc(600px + 110 * ((100vw - 500px) / (500*2)));
     transform: translateY(-50px);
     }
</style>
<body>
<header class="show-header">
<%= image_tag("logo.png",class: "img-responsive")%>
</header> 
<div class="form-container show-container centro">
      <div class="show-myCard centro" style="height:auto">

<h2 style="color: #ff9900">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "my-form-class" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field" style="margin-bottom: 10px;">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="actions centro">
    <%= f.submit "Cambia password", class: "my-button-class nButton-style" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>
</div>
</body>