<head>
  <style>       
   body{
    height:100vh;
    overflow:hidden;

  }   
    .show-container{
      height: 100vh;
    }
    
  </style>
</head>
<body>
 <!-- scrivi funzione js per estrarre quando premi pubblica i valori dal form -->
<header class="show-header">
		
<%= image_tag("logo.png",class: "img-responsive")%>
</header> 
   <div class="form-container show-container">
      <div class="show-myCard new-myCard" id=<%="#{@event.id}"%>>
       <%= form_with model: @event, url: event_path(@event), method: :patch, id: "event-form" do |form| %>
        <label for="title" >Titolo:</label>

        <%= form.text_field :title, id: "title", name: "event[title]", title: "Title", class: "form-control", placeholder: "Inserisci il titolo" %>
       <label for="date">Data:</label>
       <%= form.date_field :date, id: "date", name: "event[date]", title: "Date", class: "form-control", placeholder: "Seleziona la data" %>

        <label for="price">Prezzo:</label>
        <%= form.number_field :price, id: "price", min: 0, step: 0.01, name: "event[price]", title: "Price", class: "form-control", placeholder: "Inserisci il prezzo" %>

        <label for="location">Luogo:</label>
        <%= form.text_field :location, id: "location", name: "event[location]", title: "Location", class: "form-control", placeholder: "Inserisci la location" %>

         <label for="description">Descrizione:</label>
        <%= form.text_area :description,id: "description",name: "event[description]",title:"Description", rows: 1, class: "form-control", placeholder: "Inserisci la descrizione" %>
 
        <label for="limit">Limite partecipanti:</label>
        <%= form.number_field :limit, id: "limit", min: 1, name: "event[limit]", title: "Participant Limit", class: "form-control", placeholder: "Inserisci il limite partecipanti (opzionale)" %>
        <div class="submit-group edit-submit-group">
          <div class="publish-container" >
              <div> <%= form.submit "Salva", class: "save draft" %></div>
             <%if @event.status == "draft" %><div><%= link_to "Pubblica",href="#", class: "save success publish_button",style:"display:flex"%></div><%end%>
          </div>
          <div style="display:flex">
           <a  href="#"  class="save error" onclick="goBack()">Annulla</a>
          </div>
        </div>
      <% end %>
  </div>
</div>



<nav class="navbar navbar-inferiore fixed-bottom navbar-light d-flex justify-content-center align-items-center">

  <!-- Icona "Home" -->
  <ul><li><%= link_to events_path do %>
    <i class="fas fa-home fa-2x" ></i>
<% end %></li>

  <!-- Icona "Aggiungi" -->
  <% if can?(:create, Event)%>
  <li>
  <%= link_to new_event_path do %>
    <i class="fas fa-plus fa-2x"></i>
<% end %></li>
<%end%>
<!-- Icona "Salva" -->
<li>
<%= link_to user_saves_path(user_id: current_user.id),data: { turbo: false } do %> <!-- ho messo data per disabilitare le proprietà di turbolink e ricaricare la pagina -->
    <i class="fas fa-heart fa-2x"></i>
  
  <%end%></li>
 <!-- Icona "Utente" -->
 <li>
<%= link_to user_path(current_user) do %>
    <i class="fas fa-user fa-2x" ></i>
<% end %> </li>
</ul>
</nav>
</body>


