



<header>
            <div class="title-container">
                <h3>EventMaster</h3>
            </div>
        </header>
<% if flash[:success] %>
  <div class="success-message">
    <%= flash[:success] %>
  </div>
<% end %>
<div id="filter">
      <button id="price-filter">Filtro Prezzo</button>
      <button id="rating-filter">Filtro Valutazione</button>
      <button id="nearby-filter">Filtro Vicinanza</button>
    </div>
<div class="events">

 <% @events.each do |event| %>
    <%= link_to event_path(event) do %>
      <div class="card">
        <h2><%= event.title %></h2>
        <p>Location: <%= event.location %></p>
        <p>Price: <%= event.price %></p>
        <p>Date: <%= event.date %></p>
        <p>Presales left: <%= event.presales_left %></p>
        <div class="save-button" , style= "position: absolute; top: 10px; right: 10px;">
        <% if event.saved_by?(current_user) %>
        <%= link_to delete_saves_path(user_id: current_user.id,event_id: event.id),method: :delete, class: 'save-button saved' do %>
        <i class="fas fa-star"></i>        
        <% end %>
        <% else %>
        <%= link_to user_saves_path(user_id: current_user.id,event_id: event.id),method: :post, class: 'save-button' do %>
        <i class="fas fa-star"></i>        
        <% end %>
        <% end %>
        </div>
        </div>
        <% end %>
        <% end %>

</div>

<div id="footer" >

  <!-- Icona "Home" -->
  <%= link_to events_path do %>
  <a href="<%= events_path%>">
    <i class="fas fa-home fa-2x"></i>
  </a>
<% end %>
<% if  current_user.role=="organizer" || current_user.role=="admin" %>
<%= link_to new_event_path do %>
  <!-- Icona "Home" -->
  <a href="<%= new_event_path %>">
    <i class="fas fa-plus fa-2x"></i>
  </a>
<% end %>
<% else %>
<%= link_to new_event_path do %>
  <!-- Icona "Home" -->
  <a href="">
    <i class="fas fa-plus fa-2x disabled"  ></i>
  </a>
<% end %>
<% end%>

<!-- Icona "Salva" -->
<%= link_to user_saves_path(user_id: current_user.id) do %>
  <!-- Icona "Home" -->
  <a href="<%= user_saves_path(user_id: current_user.id) %>">
    <i class="fas fa-save fa-2x"></i>
  </a>

<% end %> 
<!-- Icona "Profilo" -->
 <i class="fas fa-user fa-2x"></i>
	
	  </div>