<style>
body{
   margin: 0;
  padding: 0;
}

</style>

<header>
		
<%= image_tag("logo.png",class: "img-responsive")%>
 <nav class="navbar navbar-superiore">
        <ul>
            <li><i class="fa-solid fa-martini-glass-citrus"></i>
            <a href="#Events">Eventi</a></li>
            <li><i class="fa-solid fa-users"></i><a href="#About_us">About us</a></li>
        </ul>
    </nav>
		              
</header>
<div class="home-container">
<section>
   <div class="animation-text">
         <p>The Perfect Nightlife</p>
         <h1>EventMaster</h1>
   </div>
</section>
<div class="container-about-us">
   <div class="img-aboutus"><p class="perpendicular-text">EventMaster</p></div>
   <div class="AboutUs" >
    <div class="about-text">
           <div><h3>About Us</h3>
               <div class="tt-title-under" >
									About
								</div></div>
           <div><p >Benvenuti su EventMaster, il tuo hub per la pubblicazione e l'acquisto di eventi emozionanti. Siamo qui per connettere gli appassionati di eventi con le migliori esperienze. Scopri, partecipa e vivi momenti indimenticabili con noi.</p>
         </div>
       </div>
    </div>
</div>
<div class="event-container">
 <div class="dropdown">
  <button type="button" class="btn dropdown-toggle" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" >
    Filtra
  </button>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="About_us">
    <li><a class="dropdown-item" href="#">Prezzo</a></li>
    <li><a class="dropdown-item" href="#">Valutazione</a></li>
    <li><a class="dropdown-item" href="#">Distanza</a></li>
  </ul>
</div>  
<div class="events" id="Events"> 
   <% @events.each do |event| %>
    <%= link_to event_path(event,commit: params[:commit]) do %>
   <div class="myCard" >
          <div class="top-text">
          <div class="title">
          <%= event.title %>
          </div>
          <div class="location">
           <%= event.location %>,Italia</div>
          <div class="price">Prezzo: <%=event.price %>&euro;</div>  
          <div class="date">
          <% if event.status =="draft"%>
          Da Inserire
          <%else%> <%= event.date %>
          <%end%></div></div>
          <div class="circle"><%= image_tag("event.jpg")%></div>
          <%if event.status == "published"%>
          <div class="star">
              <% if event.saved_by?(current_user) %>
              <%= link_to delete_saves_path(user_id: current_user.id, event_id: event.id), method: :delete do %>
             <i class="fa-solid fa-heart" style="color: #9c83b9;"></i> 
             <%end%>
             <% else %>
              <%= link_to user_saves_path(user_id: current_user.id, event_id: event.id), method: :post do %>
              <i class="fa-regular fa-heart" style="color: #9c83b9;"></i>
             <% end %>
             <% end %>
          </div>
          <%end%>
    <div class="card-body"><%= image_tag("event.jpg",class: "card-img custom-image")%></div>   
    <div class="card-footer">
    <%= event.avgvalue %>/5
    <i class="fa-solid fa-star" style="color: rgb(255,215,0);"></i></div> 
            
    </div>
       
      <% end %>
    <% end %>
  </div>
  </div>
  <% if params[:status] == "draft"%>
 <% link_to events_path, class:"back" do%>

  <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024">
  <path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0
   188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 
   5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021
    28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 
    874.690416 484.217237 874.690416 495.52477z"></path></svg>
  Back
  <%end%>
<%end%>
</div>
<nav class="navbar navbar-inferiore fixed-bottom navbar-light d-flex justify-content-center align-items-center">

  <!-- Icona "Home" -->
  <ul><li><%= link_to events_path do %>
    <i class="fas fa-home fa-2x" ></i>
<% end %></li>

  <!-- Icona "Aggiungi" -->
  <% if can?(:create, Event)%>
  <li>
  <%= link_to new_event_path do %>
    <i class="fas fa-plus fa-2x"></i>
<% end %></li>
<%end%>
<!-- Icona "Salva" -->
<li>
<%= link_to user_saves_path(user_id: current_user.id) do %>
    <i class="fas fa-heart fa-2x"></i>
  
  <%end%></li>
 <!-- Icona "Utente" -->
 <li>
<%= link_to user_path(current_user) do %>
    <i class="fas fa-user fa-2x" ></i>
<% end %> </li>
</ul>
</nav>

