<style>
          .nButton-style {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9900;
    color: white;
    border: black;
    border-radius: calc(4px + 20 * (100vw - 500px) / 5500);
    border: none;
    cursor: pointer;
    font-family: "Playfair Display";
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s ease-in-out;
    width: calc(100px + 30 * (100vw - 500px) / 4000);
  }
  
  .nButton-style:hover {
    background-color: #e68a00;
  }
body{
   margin: 0;
  padding: 0;
}
.centro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding{
  padding-right: 20px;
  padding-left: 20px;
}
</style>

<header>
		
<%= image_tag("logo.png",class: "img-responsive")%>
 <nav class="navbar navbar-superiore">
        <ul>
            <li><i class="fa-solid fa-martini-glass-citrus"></i>
            <a href="#Events">Eventi</a></li>
            <li><i class="fa-solid fa-users"></i><a href="#AboutUs">AboutUs</a></li>
        </ul>
    </nav>
		              
</header>
<div class="home-container">
<section>
   <div class="animation-text">
         <p>The Perfect Nightlife</p>
         <h1>EventMaster</h1>
   </div>
</section>
<div class="container-about-us" id="AboutUs">
   <div class="img-aboutus"></div>
   <div class="AboutUs" >
    <div class="about-text">
           <div><h3>About Us</h3>
               <div class="tt-title-under" >
									About
								</div></div>
           <div><p >Benvenuti su EventMaster, il tuo hub per la pubblicazione e l'acquisto di eventi emozionanti. Siamo qui per connettere gli appassionati di eventi con le migliori esperienze. Scopri, partecipa e vivi momenti indimenticabili con noi.</p>
         </div>
       </div>
    </div>
</div>
<div class="event-container">
<div class="dropdown" style="display:inline">
<div class="search-bar centro padding">
  <%= form_tag(events_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search], placeholder: "Dove vuoi andare?") %>
   <%= submit_tag("Cerca", class: "nButton-style", style: "display: block; margin: 0 auto;") %>

  <% end %>
</div>
</div>
<%if params[:status]==nil%>
 
<div style="display:flex ;justify-content:center">
<div class="dropdown" >
  <button type="button" class="btn dropdown-toggle" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Ordina per
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
  <li><a class="dropdown-item" href="<%= events_path(sort_by: 'price', minPrice: params[:minPrice], maxPrice: params[:maxPrice], minDate: params[:minDate], maxDate: params[:maxDate]) %>">Prezzo</a></li>
  <li><a class="dropdown-item" href="<%= events_path(sort_by: 'avgvalue', minPrice: params[:minPrice], maxPrice: params[:maxPrice], minDate: params[:minDate], maxDate: params[:maxDate]) %>">Valutazione</a></li>
  <li><a class="dropdown-item" href="<%= events_path(sort_by: 'date', minPrice: params[:minPrice], maxPrice: params[:maxPrice], minDate: params[:minDate], maxDate: params[:maxDate]) %>">Data</a></li>
  <li><a class="dropdown-item" href="<%= events_path(sort_by: 'distance', minPrice: params[:minPrice], maxPrice: params[:maxPrice], minDate: params[:minDate], maxDate: params[:maxDate]) %>">Distanza</a></li>

</ul>

</div>
<div class="dropdown"> 
  <button style="background-color:rgb(156, 131, 185); color: white; border: 1px solid black;"type="button" class="btn dropdown-toggle padding" data-bs-toggle="collapse" data-bs-target="#filterCollapse" aria-expanded="false">
    Filtra
  </button>
  <button style="color:white" type="button" class="btn btn secondary geolocation">Attiva Geolocalizzazione</button>
</div>
</div>
<br>
<div id="filterCollapse" class="collapse">
  <form action="<%= events_path %>" method="get" class="filter-form">
  <div class="centro" style="margin-top: 10px;">
    <label style="color:white" for="minPrice">Prezzo Minimo:</label>
   <input type="number" name="minPrice" value="<%= params[:minPrice] %>" style="width: 6em;" />

    
    <label style="color:white" for="maxPrice">Prezzo Massimo:</label>
    <input type="number" name="maxPrice" value="<%= params[:maxPrice] %>"  style="width: 6em;"/>
  </div>
  <br>
  <div class="centro">
    <label style="color:white" for="minDate">Data Minima:</label>
    <input style="margin-right:10px"type="date" name="minDate" value="<%= params[:minDate] %>" />
    
    <label style="color:white" for="maxDate">Data Massima:</label>
    <input type="date" name="maxDate" value="<%= params[:maxDate] %>" />
  </div>
  <br>
  <div class="centro">
    <button class="nButton-style" type="submit" style=" margin-bottom: 10px; ">Applica Filtri</button>
  </div>
  </form>
</div>

<% if params[:search].present? %>
  <h1 style="color: white;">Eventi nella città di <%= params[:search] %></h1>

<% end %>

  </ul>
<%end%>
<div class="events" id="Events"> 
   <% @events.each do |event| %>
    <%= link_to event_path(event,commit: params[:commit],user_id:params[:user_id]),data: { turbo: false } do %>
   <div class="myCard" >
          <div class="top-text">
          <div class="title">
          <%= event.title %>
          </div>
          <div class="location">
           <%= event.location %>,Italia,<%= @user_city%></div>
          <div class="price">Prezzo: <%=event.price %>&euro;</div>  
           <div class="date">
              <% if event.date == nil%>
                 Da Inserire
              <%else%> 
              <%= event.date %>
              <%end%>
              </div>
          </div>
          <div class="circle"><%= image_tag("event.jpg")%></div>
          <%if event.status == "published"%>
          <div class="star">
              <% if event.saved_by?(current_user) %>
              <%= link_to delete_saves_path(user_id: current_user.id, event_id: event.id), method: :delete do %>
             <i class="fa-solid fa-heart fa-xl" style="color: #9c83b9;"></i> 
             <%end%>
             <% else %>
              <%= link_to user_saves_path(user_id: current_user.id, event_id: event.id), method: :post do %>
              <i class="fa-regular fa-heart fa-xl" style="color: #9c83b9;"></i>
             <% end %>
             <% end %>
          </div>
          <%end%>
    <div class="card-body">
    <% if event.title == "Piper Roma"%>
    <%= image_tag("Piper.jpg",class: "card-img custom-image")%>
    <% elsif event.title == "Nice Disco"%>
    <%= image_tag("Nice.jpg",class: "card-img custom-image")%> 
    <% elsif event.title == "FestivalRimini2024"%>
    <%= image_tag("Rimini.jpg",class: "card-img custom-image")%>
     <% elsif event.title == "Cocoricò"%>
    <%= image_tag("Cocorico",class: "card-img custom-image")%>
     <% elsif event.title == "Space Elettronic"%>
    <%= image_tag("Space-Elettronic.png",class: "card-img custom-image")%>
    <%else%>
    <%= image_tag("event.jpg",class: "card-img custom-image")%>
    <%end%>
    </div>   
    <div class="card-footer">
    <%= event.avgvalue %>/5
    <i class="fa-solid fa-star" style="color: rgb(255,215,0);"></i></div> 
            
    </div>
       
      <% end %>
    <% end %>
  </div>
  </div>
</div>
</div>
</div>

<nav class="navbar navbar-inferiore fixed-bottom navbar-light d-flex justify-content-center align-items-center">

  <!-- Icona "Home" -->
  <ul><li><%= link_to events_path do %>
    <i class="fas fa-home fa-2x" ></i>
<% end %></li>

  <!-- Icona "Aggiungi" -->
  <% if can?(:create, Event)%>
  <li>
  <%= link_to new_event_path,data:{turbo:false} do %>
    <i class="fas fa-plus fa-2x"></i>
<% end %></li>
<%end%>
<!-- Icona "Salva" -->
<li>
<%= link_to user_saves_path(user_id: current_user.id),data: { turbo: false } do %> <!-- ho messo data per disabilitare le proprietà di turbolink e ricaricare la pagina -->
    <i class="fas fa-heart fa-2x"></i>
  
  <%end%></li>
 <!-- Icona "Utente" -->
 <li>
<%= link_to user_path(current_user) do %>
    <i class="fas fa-user fa-2x" ></i>
<% end %> </li>
</ul>
</nav>

