



<header>
            <div class="title-container">
                <h3>EventMaster</h3>
            </div>
        </header>
<% if flash[:success] %>
  <div class="success-message">
    <%= flash[:success] %>
  </div>
<% end %>
<%if params[:status]!=nil%>
<% @events.each do |draft| %>
    <%= link_to event_path(id: draft.id) do %>
      <div class="card">
        <h2><%= draft.title %></h2>
        <p>Location:<% if !draft.location.nil?%>  DA INSERIRE
        <%else%> <%= draft.location %></p><%end%>
        <p>Price:<% if !draft.price.nil?%>  DA INSERIRE
        <%else%> <%= draft.price %></p><%end%>
        <p>Date:<% if !draft.date.nil?%>   DA INSERIRE
        <%else%> <%= draft.date %></p><%end%>
         <%end%>
    <%end%>
    <%= link_to 'Torna indietro', :back, class: 'btn btn-primary' %>

<%else%>
<div id="filter">
      <button id="price-filter">Filtro Prezzo</button>
      <button id="rating-filter">Filtro Valutazione</button>
      <button id="nearby-filter">Filtro Vicinanza</button>
    </div>
    
<div class="events">
 <% @events.each do |event| %>
    <%= link_to event_path(event) do %>
      <div class="card">
        <h2><%= event.title %></h2>
        <p>Location: <%= event.location %></p>
        <p>Price: <%= event.price %></p>
        <p>Date: <%= event.date %></p>
        <p>Presales left: <%= event.presales_left %></p>
         <p>Organizer: <%= User.find(event.organizer_id).username %></p>
        <div class="save-button" , style= "position: absolute; top: 10px; right: 10px;">
        <% if event.saved_by?(current_user) %>
        <%= link_to delete_saves_path(user_id: current_user.id,event_id: event.id),method: :delete, class: 'save-button saved' do %>
        <i class="fas fa-star"></i>        
        <% end %>
        <% else %>
        <%= link_to user_saves_path(user_id: current_user.id,event_id: event.id),method: :post, class: 'save-button' do %>
        <i class="fas fa-star"></i>        
        <% end %>
        <% end %>
        </div>
        <div class="avgvalue" style="position: absolute; bottom: 10px; right: 10px;">
        Average Value: <%= event.evaluations.average(:value) %>/10
      </div>
        </div>
        <% end %>
        <% end %>

</div>
<%end%>

<div id="footer" >

  <!-- Icona "Home" -->
  <%= link_to events_path do %>
    <i class="fas fa-home fa-2x"></i>
<% end %>

  <!-- Icona "Aggiungi" -->
  <% if can?(:create, Event)%>
  <% if !Ban.where(user_id: current_user.id).exists?%>
  <%= link_to new_event_path do %>
  <a href="<%= new_event_path %>">
    <i class="fas fa-plus fa-2x"></i>
  <% end %>
<% end %>
<%end%>
<!-- Icona "Salva" -->
<%= link_to user_saves_path(user_id: current_user.id) do %>
    <i class="fas fa-save fa-2x"></i>
  </a>
  <%end%>
 <!-- Icona "Utente" -->
<%= link_to user_path(current_user) do %>
    <i class="fas fa-user fa-2x"></i>
<% end %> 
	  </div>