<style>

body{
  background-image: linear-gradient(to bottom, rgb(156, 131, 185),  rgb(220, 188, 255));
}
</style>
<header>
    <div class="title-container">
        <h3>EventMaster</h3>
    </div>
</header>
<% if flash[:success] %>
  <div class="success-message">
    <%= flash[:success] %>
  </div>
<% end %>
<%if params[:status]!=nil%>
<% @events.each do |draft| %>
    <%= link_to event_path(id: draft.id) do %>
      <div class="card">
        <h2><%= draft.title %></h2>
        <p>Location:<% if !draft.location.nil?%>  DA INSERIRE
        <%else%> <%= draft.location %></p><%end%>
        <p>Price:<% if !draft.price.nil?%>  DA INSERIRE
        <%else%> <%= draft.price %></p><%end%>
        <p>Date:<% if !draft.date.nil?%>   DA INSERIRE
        <%else%> <%= draft.date %></p><%end%>
         <%end%>
    <%end%>
    <%= link_to 'Torna indietro', :back, class: 'btn btn-primary' %>

<%else%>

 <div class="dropdown">
  <button type="button" class="btn dropdown-toggle" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" >
    Filtra
  </button>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="#">Prezzo</a></li>
    <li><a class="dropdown-item" href="#">Valutazione</a></li>
    <li><a class="dropdown-item" href="#">Distanza</a></li>
  </ul>
</div>  

<div class="events"> 
   <% @events.each do |event| %>
    <%= link_to event_path(event), class: "event-link" do %>
   <div class="myCard" >
          <div class="top-text"><div class="title"><%= event.title %></div>
          <div class="location"> <%= event.location %>,Italia</div>
          <div class="price">Prezzo: <%=event.price %>&euro;</div>
          <div class="date"> <%= event.date %></div></div>
          <div class="circle"><%= image_tag("event.jpg")%></div>
          <div class="star" style="position:absolute;top:5%;right:5%">
          <% if event.saved_by?(current_user) %>
            <%= link_to delete_saves_path(user_id: current_user.id, event_id: event.id), method: :delete do %>
          <i class="fa-solid fa-heart" style="color: #9c83b9;"></i> 
              <% end %>
          <% else %>
            <%= link_to user_saves_path(user_id: current_user.id, event_id: event.id), method: :post do %>
              <i class="fa-regular fa-heart" style="color: #9c83b9;"></i>
            <% end %>
            <% end %>
           </div>
    <div class="card-body"><%= image_tag("event.jpg",class: "card-img custom-image")%></div>   
    <div class="card-footer">
    <%= event.avgvalue %>/10
    <i class="fa-solid fa-star" style="color: rgb(255,215,0);"></i></div> 
            
    </div>
       
      <% end %>
    <% end %>
  <%end %>
</div>

<nav class="navbar fixed-bottom navbar-light d-flex justify-content-center align-items-center">

  <!-- Icona "Home" -->
  <%= link_to events_path do %>
    <i class="fas fa-home fa-2x" ></i>
<% end %>

  <!-- Icona "Aggiungi" -->
  <% if can?(:create, Event)%>
  <% if !Ban.where(user_id: current_user.id).exists?%>
  <%= link_to new_event_path do %>
  <a href="<%= new_event_path %>">
    <i class="fas fa-plus fa-2x"></i>
  <% end %>
<% end %>
<%end%>
<!-- Icona "Salva" -->
<%= link_to user_saves_path(user_id: current_user.id) do %>
    <i class="fas fa-heart fa-2x"></i>
  </a>
  <%end%>
 <!-- Icona "Utente" -->
<%= link_to user_path(current_user) do %>
    <i class="fas fa-user fa-2x" ></i>
<% end %> 

</nav>
