
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<style>

header {
  background-color: #333;
  color: #fff;
  height:100px;
  font-size: 20px;
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center;
}

#filter {
  text-align: right;
  margin-bottom: 20px;
}


#events-carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.event-card {
  width: 300px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.event-card .title {
  font-weight: bold;
}

.event-card .location {
  color: #888;
}

.event-card .price {
  color: #f00;
  font-weight: bold;
}

.event-card .tickets-left {
  color: #00f;
}

.event-card .rating {
  color: #ff0;
}

.event-card .save-button {
  float: right;
  color: #f0f;
}

.icon-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
}

.icon-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

</style>

<header>
            <div class="title-container">
                <h3>EventMaster</h3>
            </div>
        </header>
<% if flash[:success] %>
  <div class="success-message">
    <%= flash[:success] %>
  </div>
<% end %>
<div id="filter">
      <button id="price-filter">Filtro Prezzo</button>
      <button id="rating-filter">Filtro Valutazione</button>
      <button id="nearby-filter">Filtro Vicinanza</button>
    </div>
<div class="events">

 
 <% @events.each do |event| %>
  <div class="card">
    <h2><%= event.title %></h2>
    <p>Pre-sales left: <%= event.presales_left %></p>
    <p>Price: <%= event.price %></p>
    <p>Date: <%= event.date %></p>
  </div>
<% end %>

 

</div>
<div>
    <button><%= link_to 'Aggiungi evento', new_event_path %></button>
</div>
<div id="footer">


  <!-- Icona "Profilo" -->
 

  <!-- Icona "Home" -->
  <i class="fas fa-home"></i>

   <i class="fas fa-search"></i> 
     <i class="fas fa-plus"></i>

<!-- Icona "Salva" -->
  <i class="fas fa-save"></i> 
  <i class="fas fa-user"></i>
	
	  </div>
