<style>


header {
    margin: 0 auto;
    width: 100%;
    background-color: #333333;
    color: white;
    position: relative;
    height: calc(62px+20* ((100vw - 500)/(500*7)));
    overflow: hidden;
    box-shadow: 0px 0px 3px 3px #333333;
    z-index: 10;
    padding-bottom: 15px;
    text-align:center
}


</style>

<header>
            <div class="title-container">
                <h3>EventMaster</h3>
                <h1><% if user_signed_in? %>
Logged in as <%= current_user.email%> [<%= link_to 'Logout',
destroy_user_session_path, :method => :delete%>]
<% end %> </h1>
            </div>
        </header>
<% if flash[:success] %>
  <div class="success-message">
    <%= flash[:success] %>
  </div>
<% end %>
<div class="events">
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Date</th>
      <th>Location</th>
      <th colspan="8"></th>
    </tr>

  </thead>
  <tbody>
  <% @events.each do |event| %>
  <tr>
  <td><%= link_to  event.title ,event_path(event,id: event.id)%></td>    
    <td><%= event.price %></td>
    <td><%= event.date %></td>
    <td><%= event.location %></td>
    </tr>
   
  <% end %>

  </tbody>
 
</table>
</div>
<div>
    <button><%= link_to 'Aggiungi evento', new_event_path %></button>
</div>
