<h1>Events#new</h1>
<head>
  <title>Pubblica il tuo evento</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }
    label {
      display: block;
      margin-bottom: 10px;
    }
    input[type="text"],
    input[type="date"],
    input[type="number"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }
    .btn {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 4px;
      display: inline-block;
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <h1>Pubblica il tuo evento</h1>
  <div class="error-message" style="display: none;"><%= flash[:error] %></div>
  <%= form_with model: @event, url: create_event_path(@event), method: :post do |form| %>
  <label for="title">Titolo dell'evento:</label>
<%= form.text_field :title, id: "title", required: true, title: "Title",placeholder: "Enter the event title" %>

  <label for="date">Data:</label>
<%= form.date_field :date, id: "date", required: true, title: "Date",placeholder: "Select the event date" %>

  <label for="price">Prezzo:</label>
<%= form.number_field :price, id: "price", min: 0, step: 0.01, required: true, title: "Price", placeholder: "Enter the event price" %>

  <label for="location">Luogo:</label>
<%= form.text_field :location, id: "location", required: true, title: "Location", placeholder: "Enter the event location" %>

  <label for="limit">Limite partecipanti:</label>
<%= form.number_field :limit, id: "limit", min: 1, title: "Participant Limit", placeholder: "Enter the participant limit" %>

  <%= form.submit "Salva",class: "save success" %> 
    <%= link_to "Annulla",events_path , class: "save error"%>
<% end %>

</body>
<div id="footer" >


  
 

  <!-- Icona "Home" -->
  <%= link_to events_path do %>
  <a href="<%= events_path%>">
    <i class="fas fa-home fa-2x"></i>
  </a>
<% end %>
<% if  current_user.role=="organizer" || current_user.role=="admin" %>
<%= link_to new_event_path do %>
  <!-- Icona "Home" -->
  <a href="<%= new_event_path %>">
    <i class="fas fa-plus fa-2x"></i>
  </a>
<% end %>
<% else %>
<%= link_to new_event_path do %>
  <!-- Icona "Home" -->
  <a href="">
    <i class="fas fa-plus fa-2x disabled"  ></i>
  </a>
<% end %>
<% end%>

<!-- Icona "Salva" -->
<%= link_to user_saves_path(user_id: current_user.id) do %>
  <!-- Icona "Home" -->
  <a href="<%= user_saves_path(user_id: current_user.id) %>">
    <i class="fas fa-save fa-2x"></i>
  </a>

<% end %> 
<!-- Icona "Profilo" -->
 <%= link_to user_path(current_user) do %>
    <i class="fas fa-user fa-2x"></i>
<% end %> 
	  </div>