
<!-- Voglio che ogni bozza abbia un titolo quindi bisogna fare un check nella new.htlm.erb per controllare se il titolo è stato inserito quando viene salvata la bozza-->

<head>
  <style>
   body{
    height:100vh;
  }  
  </style>
</head>
<body>

<header class="show-header">
		
<%= image_tag("logo.png",class: "img-responsive")%>
</header> 
  <div class="form-container show-container">
      <div class="show-myCard new-myCard">
       <%= form_with model: @event, url: create_event_path(@event), method: :post, id: "event-form" do |form| %>
        <label for="title" >Titolo: </label>

        <%= form.text_field :title, id: "title", name: "event[title]", title: "Title", class: "form-control", placeholder: "Inserisci il titolo",value: flash[:title] %>

       <label for="date">Data:</label>
       <%= form.date_field :date, id: "date", name: "event[date]", title: "Date", class: "form-control", placeholder: "Seleziona la data",value: flash[:date] %>

        <label for="price">Prezzo:</label>
        <%= form.number_field :price, id: "price", min: 0, step: 0.01, name: "event[price]", title: "Price", class: "form-control", placeholder: "Inserisci il prezzo",value: flash[:price] %>

        <label for="location">Luogo:</label>
        <%= form.text_field :location, id: "location", name: "event[location]", title: "Location",  class: "form-control",placeholder: "Inserisci la location",value: flash[:location] %>
        
        <label for="description">Descrizione:</label>
        <%= form.text_area :description,id: "description",name: "event[description]",title:"Description", rows: 1, class: "form-control", placeholder: "Inserisci la descrizione",value: flash[:description]%>
 
        <label for="limit">Limite partecipanti:</label>
        <%= form.number_field :limit, id: "limit", min: 1, name: "event[limit]", title: "Participant Limit", class: "form-control", placeholder: "Inserisci il limite partecipanti (opzionale)",value: flash[:limit] %>
        <div class="submit-group">
          <div class="publish-container">
              <div> <%= form.submit "Bozza", class: "save draft" %></div>
             <div><%= form.submit "Pubblica", class: "save success", id: "publish-button" %></div>
          </div>
          <div style="display:flex">
           <a  href="#"  class="save error" onclick="goBack()">Annulla</a>
          </div>
        </div>
      <% end %>
  </div>
</div>


<nav class="navbar navbar-inferiore fixed-bottom navbar-light d-flex justify-content-center align-items-center">

  <!-- Icona "Home" -->
  <ul><li><%= link_to events_path do %>
    <i class="fas fa-home fa-2x" ></i>
<% end %></li>

  <!-- Icona "Aggiungi" -->
  <% if can?(:create, Event)%>
  <li>
  <%= link_to new_event_path do %>
    <i class="fas fa-plus fa-2x"></i>
<% end %></li>
<%end%>
<!-- Icona "Salva" -->
<li>
<%= link_to user_saves_path(user_id: current_user.id),data: { turbo: false } do %> <!-- ho messo data per disabilitare le proprietà di turbolink e ricaricare la pagina -->
    <i class="fas fa-heart fa-2x"></i>
  
  <%end%></li>
 <!-- Icona "Utente" -->
 <li>
<%= link_to user_path(current_user) do %>
    <i class="fas fa-user fa-2x" ></i>
<% end %> </li>
</ul>
</nav>
</body>


