

<style>
body{
  display:flex;
  flex-direction:column;
  align-items:center;
  height:100vh;
  width:100vw;
  overflow:scroll;
  
}
a{
  text-decoration:none;
}

</style>
<% if session[:approve_url]!=nil %>
  <p style="color:white">Sto reindirizzando a <%= session[:approve_url] %>...
  <script>
    window.location.href = '<%= session[:approve_url] %>'; // Reindirizza l'utente all'URL di approvazione per pagamento
  </script>

<% else %>  

<header class="show-header">
		
<%= image_tag("logo.png",class: "img-responsive")%>
</header> 
 
  <div class="show-container">
   <div class="events-show" >
      <div class="show-myCard"> 
        <div class="card-inner">
            <div class="card-front" id="<%= @event.id %>">
                  <div class="top-text"><div class="title"><%= @event.title %></div>
                  <div class="location"> <%= @event.location %>,Italia</div>
                  <div class="price">Prezzo: <%=@event.price %>&euro;</div>
                  <div class="date">
                  <% if @event.date ==nil%>
                   Da Inserire
                  <%else%> 
                  <%= @event.date %>
                  <%end%></div>
              </div>

                  <div class="circle"><%= image_tag("event.jpg")%></div>
                  <%if @event.status== "published"%>
                  <div class="star" style="position:absolute;top:5%;right:5%">
                  <% if @event.saved_by?(current_user) %>
                  <%= link_to delete_saves_path(user_id: current_user.id, event_id: @event.id), method: :delete do %>
                  <i class="fa-solid fa-heart fa-xl" style="color: #9c83b9;"></i> 
                  <% end %>
                  <% else %>
                  <%= link_to user_saves_path(user_id: current_user.id, event_id: @event.id), method: :post do %>
                  <i class="fa-regular fa-heart fa-xl" style="color: #9c83b9;"></i>
                  <% end %>
                  <% end %>
                  </div>
                  <%end%>
                  <div class="card-body">
                  <% if @event.title == "Piper Roma"%>
                  <%= image_tag("Piper.jpg",class: "card-img custom-image")%>
                  <% elsif @event.title == "Nice Disco"%>
                  <%= image_tag("Nice.jpg",class: "card-img custom-image")%> 
                  <% elsif @event.title == "FestivalRimini2024"%>
                  <%= image_tag("Rimini.jpg",class: "card-img custom-image")%>
                  <% elsif @event.title == "Cocoricò"%>
                  <%= image_tag("Cocorico",class: "card-img custom-image")%>
                  <% elsif @event.title == "Space Elettronic"%>
                  <%= image_tag("Space-Elettronic.png",class: "card-img custom-image")%>
                  <%else%>
                  <%= image_tag("event.jpg",class: "card-img custom-image")%>
                  <%end%> </div>   

                  <div class="card-footer">
                <%= @event.avgvalue %>/5
                <i class="fa-solid fa-star" style="color: rgb(255,215,0);"></i></div> 
                  
                </div>
            <div class="card-back">
                <p class="organizer"> <%if User.find(@event.organizer_id).username!=nil %>
                <%= link_to User.find(@event.organizer_id).username, user_path(User.find(@event.organizer_id)) %>
                <%end%>presenta <%= @event.title%></p>
                <p class="description"><%=@event.description%></p>
                
                <% if can?(:manage,:all)%>
                 <% if @event.status == "published"%>
                   <% if Presale.all.where(event_id: @event.id).any?%>
                <p class="buyers"><%= link_to "Lista Acquirenti", users_path(id: @event.id)%></p>
                <%end%>
                <%end%>
                <%end%>
                <% if @event.status=="published"%>
                <p class="presales">Prevendite Rimaste: <%= (@event.presales_left)-(Presale.where(event_id:@event.id).count) %></p>
                <%end%>
             </div>
         </div>
      </div>
      <div class="buttons-group" style="width:100%">

<% if(@event.organizer_id==current_user.id && can?(:create, Event) )||  (can?(:manage, :all) && @event.status == "published")%>
<%= link_to "Elimina",event_path(id: @event.id),method: :delete, class: "btn btn-danger"%> <!-- metodo base per riferirsi alla destroy altrimenti si hanno problemi -->
<%= link_to "Modifica",edit_event_path,data: { turbo: false }, class: "btn btn-success" %>
<%end%>

<% if @event.status=="published"%>
<% if !Evaluation.exists?(event_id: @event.id, user_id: current_user.id)%>
<%if params[:commit]!=nil  && Date.today>@event.date%>
<a class= "btn btn-warning valuta" data-bs-toggle="modal" data-bs-target='#staticBackdrop'>Valuta</a>
<%end%>
<%end%>
<%if params[:commit]!="organised" && Date.today < @event.date%>
<%= link_to create_order_path(event_id: params[:id]),method: :post, class: "premium-button" do%>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 24">
        <path d="m18 0 8 12 10-8-4 20H4L0 4l10 8 8-12z"></path>
    </svg>
    Acquista
<%end%>
<%end%>
<%end%>
</div>
  </div>
  <%= link_to events_path(commit: params[:commit],user_id: params[:organizer_id] || params[:user_id]),class:"back" do%>

  <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024">
  <path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0
   188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 
   5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021
    28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 
    874.690416 484.217237 874.690416 495.52477z"></path></svg>
Back
<%end%>


<nav class="navbar navbar-inferiore fixed-bottom navbar-light d-flex justify-content-center align-items-center">

  <!-- Icona "Home" -->
  <ul><li><%= link_to events_path do %>
    <i class="fas fa-home fa-2x" ></i>
<% end %></li>

  <!-- Icona "Aggiungi" -->
  <% if can?(:create, Event)%>
  <li>
  <%= link_to new_event_path do %>
    <i class="fas fa-plus fa-2x"></i>
<% end %></li>
<%end%>
<!-- Icona "Salva" -->
<li>
<%= link_to user_saves_path(user_id: current_user.id),data: { turbo: false } do %> 
    <i class="fas fa-heart fa-2x"></i>
  
  <%end%></li>
 <!-- Icona "Utente" -->
 <li>
<%= link_to user_path(current_user) do %>
    <i class="fas fa-user fa-2x" ></i>
<% end %> </li>
</ul>
</nav>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Valuta l'evento con un voto da 1 a 5</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="display:flex; justify-content:center">
    
<%= form_tag(event_evaluation_path(event_id: @event.id), method: 'post') do %>
  <div class="rating">
<%= radio_button_tag 'star_radio',5,false,id: "star-5"%>
    <%= label_tag 'star-5' do %>
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" pathLength="360"></path>
      </svg>
    <% end %>
<%= radio_button_tag 'star_radio',4,false,id: "star-4"%>
    <%= label_tag 'star-4' do %>
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" pathLength="360"></path>
      </svg>
    <% end %>

    <%= radio_button_tag 'star_radio',3,  false, id: 'star-3' %>
    <%= label_tag 'star-3' do %>
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" pathLength="360"></path>
      </svg>
    <% end %>

    <%= radio_button_tag 'star_radio',2,  false, id: 'star-2'%>
    <%= label_tag 'star-2' do %>
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" pathLength="360"></path>
      </svg>
    <% end %>

    <%= radio_button_tag 'star_radio',1, false, id: 'star-1' %>
    <%= label_tag 'star-1' do %>
      <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" pathLength="360"></path>
      </svg>
    <% end %>

  </div>

  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
         <%= submit_tag 'Invia' , class: "btn btn-primary",id: @event.id  %>

      </div>
      <% end %>

    </div>
  </div>
</div>
<%end%>
