    <style>
    
#footer{
  position:fixed;
  bottom: 20px;
  left:0;
  width:100%;
  text-align: center 

}
.fas{
  margin-right: 8px;
  color:black

}
.fas:hover{
  transform: scale(1.3);
  color: grey;
  cursor:pointer

}
.saved .fas{
  color:red;
}
.disabled{
  opacity: 0.5; 
  pointer-events: none; 
  cursor: not-allowed
}
    </style>

<h1>Events#show</h1>
<% if flash[:success] %>
  <div class="success-message">
    <%= flash[:success] %>
  </div>
<% end %>
<div class="events">
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Date</th>
      <th>Location</th>
      <th>Left Presales</th>
      <th>Organizer</th>

      <th colspan="8"></th>
    </tr>
  </thead>
  <tbody>
  
  <tr>
    <td> <%= @event.title %></td> 
    <td><%= @event.price %></td>
    <td><%= @event.date %></td>
    <td><%= @event.location %></td>
    <td><%= @event.presales_left %></td>
    <td><%= User.find(@event.organizer_id).username %></td>
    </tr>
   
  </tbody>
</table>
</div>
<div>
<%= link_to "Back",events_path %>
<% if @event.organizer_id==current_user.id%>
<%= link_to "Elimina",@event,data: {turbo_method: :delete}%> <!-- metodo base per riferirsi alla destroy altrimenti si hanno problemi -->

<%= link_to "Modifica",edit_event_path %>
<% end%>
<%= link_to "Acquista" ,events_path%>


</div>

<div id="footer" >
  <!-- Icona "Home" -->
  <%= link_to events_path do %>
  <a href="<%= events_path%>">
    <i class="fas fa-home fa-2x"></i>
  </a>
<% end %>
<% if  current_user.role=="organizer" || current_user.role=="admin" %>
<%= link_to new_event_path do %>
  <!-- Icona "Home" -->
  <a href="<%= new_event_path %>">
    <i class="fas fa-plus fa-2x"></i>
  </a>
<% end %>
<% else %>
<%= link_to new_event_path do %>
  <!-- Icona "Home" -->
  <a href="">
    <i class="fas fa-plus fa-2x disabled"  ></i>
  </a>
<% end %>
<% end%>

<!-- Icona "Salva" -->
<%= link_to user_saves_path(user_id: current_user.id) do %>
  <!-- Icona "Home" -->
  <a href="<%= user_saves_path(user_id: current_user.id) %>">
    <i class="fas fa-save fa-2x"></i>
  </a>

<% end %> 
<!-- Icona "Profilo" -->
 <i class="fas fa-user fa-2x"></i>
	
</div>
