<style>
.back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2196f3;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.back-button:hover {
  background-color: #1976d2;
}
</style>
<h1>Saves#index</h1>
<% if @saves.empty? %>
<%= link_to "Nessun Evento Salvato", :back, class: "back-button" %>
<% else %>
<% @saves.each do |save| %>
  <div class="card">
    <h2><%= save.event.title %></h2>
    <p>Price: <%= save.event.price %></p>
    <p>Date: <%= save.event.date %></p>
    <p>Location: <%= save.event.location %></p>
    <p>Organizer: <% organizer=Save.find_by(event_id: save.event.id).user_id %>
    <p>Presales left: <%= save.event.presales_left %></p>
    <p>Organizer: <%=User.find(organizer).username %></p>
  </div>
<% end %>
    <%= link_to "Back",events_path, class: 'back-button' %>
<% end%>


