<h1>Saves#index</h1>
<% @saves.each do |save| %>
  <div class="save">
    <h2><%= save.event.title %></h2>
    <p>Presales left: <%= save.event.presales_left %></p>
    <p>Price: <%= save.event.price %></p>
    <p>Date: <%= save.event.date %></p>
    <p>Location: <%= save.event.location %></p>
    <p>Organizer: <% organizer=Save.find(save.event.id).user_id %>
    <%= User.find(organizer).username %></p>
  </div>
<% end %>
    <%= link_to "Back",events_path, class: 'back-button' %>

