<!DOCTYPE html>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'rails-ujs' %>

<html>
  <head>
    <title>EventMaster</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<% if user_signed_in? %>
  Logged in as <%= current_user.email %> [<%= link_to 'Logout', destroy_user_session_path, method: :delete %>]
<% end %>

    <%= yield %>
  </body>
</html>
