<!DOCTYPE html>


<html>
  <head>

   <%= javascript_include_tag 'application',"data-turbo-track" => "reload" %>
   <%= javascript_include_tag 'rails-ujs' %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <title>EventMaster</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>    
        <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>





 

  </head>

  <body>
    <%= yield %>
  </body>
</html>
