<head>
<style>
.centro{
      display: flex;
    justify-content: center;
    align-items: center;
    }
 body{
    height:100vh;
    background-image: url('<%= asset_path('event.jpg') %>');
    background-size: cover;
  background-position: center;
  background-attachment: fixed;

  }

   .error-text{
    color: #ff9900;
  }
  .show-myCard{
    background-color: rgb(0,0,0);
     width: calc(800px + 22 * ((100vw - 500px) / (500*7)));
    height: calc(600px + 110 * ((100vw - 500px) / (500*2)));
     transform: translateY(-50px);
     }
   .nInput{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: calc(10px + 20 * (100vw - 500px) / 4500);
   }
     .nButton-style {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9900;
    color: white;
    border: none;
    border-radius: calc(4px + 20 * (100vw - 500px) / 5500);
    border: none;
    cursor: pointer;
    font-family: "Playfair Display";
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s ease-in-out;
    width: calc(100px + 30 * (100vw - 500px) / 4000);
  }
  
  .nButton-style:hover {
    background-color: #e68a00;
  }
  
  </style>
</head>
<body>
<header class="show-header">
<%= image_tag("logo.png",class: "img-responsive")%>
</header> 
<div class="form-container show-container">
      <div class="show-myCard" style="height:auto">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= render "users/shared/error_messages", resource: resource, class: "error-text" %>

  <%= f.label :role %>
<div class="field" style="display: flex; flex-direction: row; gap: 20px;">
  <div class="form-check" style="display: flex; align-items: center;">
    <%= f.radio_button :role, "user", class: "form-check-input", id: "user_role" %>
    <%= f.label :user, class: "form-check-label", for: "user_role" %>
  </div>
  
  <div class="form-check" style="display: flex; align-items: center;">
    <%= f.radio_button :role, "organizer", class: "form-check-input", id: "organizer_role" %>
    <%= f.label :organizer, class: "form-check-label", for: "organizer_role" %>
  </div>
  
  <div class="form-check" style="display: flex; align-items: center;">
    <%= f.radio_button :role, "admin", class: "form-check-input", id: "admin_role" %>
    <%= f.label :admin, class: "form-check-label", for: "admin_role" %>
  </div>
</div>

  
<div class="field">
  <%= f.label :username %><br />
  <%= f.text_field :username, class: "nInput" , autofocus: true, autocomplete: "username",required:true%>
</div>
  

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email,  class: "nInput", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password%>
    <% if @minimum_password_length %>
    <em style="color: white;">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password,  class: "nInput" , autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation,  class: "nInput", autocomplete: "new-password" %>
  </div>


  <div class="actions">
      <%= f.submit "Sign up", class: "nButton-style" %>
    <br> 
    <br>
    <div class="centro">
 <%= render "users/shared/links" %>
    </div>
  </div>
<% end %>

</div>
</div>
</body>